.clearfix{
    overflow: hidden;
    clear: both;
}
header{
    background-color: #2d303a;
}
.fixwidth{
    width: 940px;
    margin: 0px auto;
}
.topnav{
    width: 940px;
    margin: 0px auto;

    padding: 34px 0px;
}
#logo{
    width: 200px;
    float: left;
}
a{
    text-decoration: none;
}
#logo a{
    color: #fff;
    font-family: Lato-Bold;
    font-size: 25px;
}
#logo a span{
    color: #f06c64;
}
.topnav nav{
    float: right;
    width: 431px;
}
.topnav nav ul{
    list-style: none;
}
.topnav nav li{
    float: left;
}
.topnav nav ul li a{
    color: #fff;
    display: block;
    padding: 10px 20px 0px 0px;
    font-family: Lato-Bold;
    font-size: 12px;
}
.topnav nav ul li:hover a{
    color: #f06c64;
    text-decoration: none;
}
.topnav #logo:hover a{
    text-decoration: none;
}

#banner{
    background-color: #f06c64;
    padding: 50px 0px;
}
#banner img{
    width: 100%;
}

#ourServices{
    padding: 66px 0px;
    background-color: #f2f2f2;
}
#ourServies h1, h3{
    font-family: Lato-Bold;
    font-size: 30px;
    color: #666d89;
}
#ourServices p{
    font-family: Lato-Light;
    color: #767e9e;
    font-size: 18px;
    line-height: 30px;
    padding: 30px 0px;
}
.itemServices{
    width: 220px;
    float: left;
    margin-right: 20px;
    padding-left: 80px;
}
#portfolio{
    background-color: #2d303a;
    padding: 65px 0px;
}
.portfolio{
    margin-bottom: 18px;
}
.portfolio ul{

    list-style: none;
    margin: 0px;
    padding: 0px;
}
.portfolio ul li{
    float: left;
    margin-right: 10px;
}
.portfolio ul li a{
    display: block;
    color: #767e9e;
    font-size: 12px;
    padding: 5px;
    border: solid 1px #767e9e;
    border-radius: 5px;
}
.selected, .portfolio ul li:hover a{
    text-decoration: none;
    border: 1px solid #c5c5c5;
    color:  #c5c5c5;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.itemx{
    flex-basis: 25%  ;
 
    margin-bottom: 20px;
}
.itemx img{
    max-width: 100%;
}